html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color:$color-text;
}

button:focus,
input:focus {
  outline: transparent;
}

html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

/* Начало*/
body{
  @include f400;
  font-size: 15px;
  line-height: 24px;
  color:$color-text;
  }
.conteiner{
      max-width: 1200px;
      margin: 0 auto;
      padding:0 15px;
  
  }
.conteiner-fluid{
    max-width: 100%;
    margin: 0 auto;
    padding:0 30px;
}
.title{
  color:$bg;
  @include f700;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 30px;
}
.page-content{
  background-color: $grey;
}
.rate-stare{
  display: inline-block;
  margin-right: 13px;
}
.breadcrumbs{
  &__inner{
    padding: 45px 0px 40px;
  }
  &__list{
    li{
      display: inline-block;
      position: relative;
     
      &+li{
        padding-left: 24px;
        &::before{
          content: "-";
          position: absolute;
          left: 8px;
          color: $green;
        }
      }
      &:last-child{
        a, span{
          color:$bg;
        }
      }
    }
    a{
      color: #b0bec5;
    }
  }
  
}