@media (max-width: 1900px) {
  .product-slider__inner {
    text-align: center;
  }
  .product__item-content {
    text-align-last: left;
  }
  .products__inner-box {
    text-align: center;
  }
}
@media (max-width: 1440px) {
}
@media (max-width: 1400px) {
}
@media (max-width: 1225px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1150px) {
}
@media (max-width: 1020px) {
  .note-box-items {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .note-box-centre {
    margin: 30px 50px;
    max-width: 600px;
  }
  .note-box-left {
    max-width: 320px;
  }
}
@media (max-width: 995px) {
  .second-form {
    display: none;
  }
}
@media (max-width: 900px) {
}

@media (max-width: 850px) {
  .header__logo img {
    max-height: 100px;
  }
  .phone__link {
    display: none;
  }
}
@media (max-width: 840px) {
  .column-kinds {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    //align-items: center;
    height: 100%;
  }
  .column-box {
    max-width: 100%;
    padding-bottom: 25px;
  }
  .title-service .o-line {
    max-width: 100%;
    right: 0;
  }
}

@media (max-width: 801px) {
  .order-form__imag img {
    display: none;
  }
  .order-form__inner {
    justify-content: center;
    .form-box {
      min-width: 300px;
      width: 100%;
    }
  }
}
@media (max-width: 800px) {
  .header__phone-number {
    display: none;
  }
  .navBurger {
    position: fixed;
    right: 20px;
    top: 33px;
    cursor: pointer;
    background: #111;
    box-sizing: border-box;
    background-clip: content-box;
    width: 30px;
    height: 25px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    &:before,
    &:after {
      content: "";
      position: absolute;
      background: #111;
      height: 2px;
      width: 100%;
      right: 0;
      will-change: rotate;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    &:before {
      top: -10px;
      width: 90%;
    }
    &:after {
      bottom: -10px;
      width: 80%;
    }
    &.active {
      background: transparent;
      background-clip: content-box;
    }
    &.active:before {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      top: 0;
      background: #eee;
      width: 110%;
    }
    &.active:after {
      bottom: 0;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
      background: #eee;
      width: 110%;
    }
  }

  .overlay {
    position: fixed;
    background: #2a3140;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform-origin: right top;
    transform: scale(0);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    &.open {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      li {
        display: block;
        animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
        animation-delay: 0.4s;
        transform: rotate(-7deg);
        transform-origin: right bottom;
        &:nth-of-type(2) {
          animation-delay: 0.5s;
        }
        &:nth-of-type(3) {
          animation-delay: 0.6s;
        }
        &:nth-of-type(4) {
          animation-delay: 0.7s;
        }
        &:nth-of-type(5) {
          animation-delay: 0.8s;
        }
      }
    }
  }

  .overlayMenu {
    position: absolute;
    text-align: right;
    right: 10vw;
    bottom: 10vw;
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: block;
      position: relative;
      height: 100%;
      li {
        display: block;
        position: relative;
        opacity: 0;
        width: 100%;
        a {
          display: inline-block;
          border: 1px solid rgba(255, 255, 255, 0.09);
          color: #fff;
          text-decoration: none;
          font-size: 30px;
          padding: 10px 40px 10px 40px;
          margin: 5px 0;
          transition: 0.2s;
          background: #2a3140;
          &:hover,
          &:active,
          &:focus {
            transform: translateX(-2px);
            padding-left: 80px;
            border: 1px solid rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }

  .locked {
    overflow: hidden;
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 50px;
    }
    100% {
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
    }
  }
}
@media (max-width: 799px) {
  .header {
    max-height: 120px;
  }
  .header__inner {
    //max-height: 120px;
    display: flex;
    justify-content: start;
    .header-title {
      max-width: 100%;
      height: 100px;
      font-size: 25px;
      line-height: 22px;
      text-align: center;
    }
  }
  .header-subtitle {
    display: none;
  }
}
@media (max-width: 780px) {
  .header__logo img {
    padding: 0;
    max-width: 100px;
  }
  .header-subtitle {
    display: none;
  }
}
@media (max-width: 755px) {
  .steps__inner {
    display: flex;

    flex-wrap: wrap;
    height: 100%;
    margin: 0 auto;
    .column-step {
      align-items: center;
      width: 50%;
      & .step-img {
        margin: 0 auto;
      }
    }
  }
  .step-arrou {
    display: none;
  }
}

@media (max-width: 640px) {
}
@media (max-width: 560px) {
  .phone__btn,
  .btn {
    letter-spacing: 0;
  }
}

@media (max-width: 555px) {
  .price-box-items {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .price-box-centre {
    margin: 30px 0;
  }
}
@media (max-width: 500px) {
  .why-items {
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
  }
  .column-price,
  .column-seal {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 485px) {
  .header-title {
    display: none;
  }

  .title-steps {
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 15px;
    & .o-line {
      display: none;
    }
  }
}
@media (max-width: 425px) {
  .steps__inner {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    .column-step {
      width: 100%;
    }
  }
  .note-box-items {
    max-width: 360px;
    margin: 0 auto;
  }
}
@media (max-width: 380px) {
  .servis-box {
    padding: 20px 25px 15px;
  }
}
@media (max-width: 373px) {
  .note-box-centre {
    margin: 20px 10px;
    &__price {
      min-height: 100%;
    }
  }
}
@media (max-width: 360px) {
}

@media (min-width: 840px) {
}
