$bg: #fef2e8;
$bg-tab: #f3ede8;
$tomate: #ef7f1a;
$color-text: #000000;

@mixin hn700 {
    font-family: "Helvetica Neue Cyr Bold";
    font-weight: 700;
}
@mixin hn500 {
    font-family: "Helvetica Neue Cyr Light";
    font-weight: 500;
}
@mixin f400h {
    font-family: "Conv_helios-cond";
    font-weight: 400;
}

@mixin f700 {
    font-family: "Helvetica Neue Cyr Roman";
    font-weight: 700;
}
@mixin f400 {
    font-family: "Helvetica Neue Cyr Roman";
    font-weight: 400;
}
@mixin checkbox-orange {
    .squaredFour {
        display: block;
        width: 17px;
        margin: 6px 5px;
        position: relative;
    }

    .squaredFour label {
        cursor: pointer;
        position: absolute;
        width: 17px;
        height: 17px;
        top: 0;
        border-radius: 4px;
        border: 1px solid rgba(102, 102, 102, 0.5);

        -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
        background: #ffffff;
        background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #ffffff 100%);
        background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #ffffff 100%);
        background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #ffffff 100%);
        background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #ffffff 100%);
        background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#ffffff',GradientType=0 );
    }
    .squaredFour label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);

        opacity: 0;
        content: "";
        color: $tomate;
        position: absolute;
        width: 9px;
        height: 5px;
        background: transparent;
        top: 4px;
        left: 4px;
        border: 3px solid $tomate;
        border-top: none;
        border-right: none;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .squaredFour label:hover::after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        opacity: 0;
    }

    .squaredFour input[type="checkbox"]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
