$bg: #fef2e8;
$bg-tab: #4e504f;
$tomate: #ef7f1a;
$color-text: #000000;

@mixin hn700 {
    font-family: "Helvetica Neue Cyr Bold";
    font-weight: 700;
}
@mixin hn500 {
    font-family: "Helvetica Neue Cyr Light";
    font-weight: 500;
}
@mixin f400h {
    font-family: "Conv_helios-cond";
    font-weight: 400;
}

@mixin f700 {
    font-family: "Helvetica Neue Cyr Roman";
    font-weight: 700;
}
@mixin f400 {
    font-family: "Helvetica Neue Cyr Roman";
    font-weight: 400;
}
